<nav class="navbar navbar-inverse bg-light navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-left">
      <li><img src="/assets/images/FAST_TRACK.png" alt="Logo"></li>
      <li><a href="/company">Company</a></li>
      <li><a href="/financialData">Financial Data</a></li>
      <li><a href="/creditScoring">Credit Scoring</a></li>
      <li><a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Wyloguj się</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
