img {
  height: 80px;
  vertical-align: middle;
  margin-right: 20px;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar > .container-fluid > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar > .container-fluid > ul > li {
  margin: 0 100px;
}

.navbar > .container-fluid > ul > li > a {
  text-decoration: none;
  color: #000;
}

.navbar-right {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-right li {
  margin: 0 10px;
}

.navbar-right li a {
  text-decoration: none;
  color: #000;
}

.glyphicon {
  margin-right: 5px;
}

.navbar-left li:last-child a {
  text-decoration: none;
  color: #d90821;
  font-weight: bold;
}
