<section class="container">
  <div class="login-container">
    <div class="circle circle-one"></div>
    <div class="form-container">
      <img
        alt="illustration"
        class="illustration" src="/assets/images/FAST_TRACK.png"/>
      <h1 class="opacity">REGISTER</h1>
      <form>
        <input [(ngModel)]="registerObj.username" name="username" placeholder="USERNAME" type="text"/>
        <input [(ngModel)]="registerObj.password" name="password" placeholder="PASSWORD" type="password"/>
        <button (click)="onRegister()" class="opacity">REGISTER</button>
        <button (click)="goBackToLogin()" class="opacity">BACK</button>
      </form>
    </div>
    <div class="circle circle-two"></div>
  </div>
  <div class="theme-btn-container"></div>
</section>
